.team-section {
  padding: 8vw 4vw;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 2vw;
    text-align: center;
    color: #fff;
  }
}

.team-member {
  padding: 4vw 0;
  gap: 3vw;
  display: grid;
  justify-items: center;
  gap: 3vw;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__photo {
    height: 40vw;
  }
  &__text {
    padding: 2vw;
    font-size: 1.2vw;
    position: relative;
    top: -1%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    box-sizing: border-box;
    font-family: $TextFont;
    text-align: center;
  }
}

/* Media query for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
  .team-member {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .team-section {
    &__title {
      font-size: $MobileSizeForText;
    }
  }
  .team-member {
    display: flex;
    gap: 15vw;
    flex-direction: column;
    &__info {
      text-align: center;
      width: 100%;
    }
    &__text {
      padding: 2vw;
      position: relative;
      top: -1vw;
      font-size: $MobileSizeForText;
    }
    &__photo {
      height: auto;
      width: 80vw;
    }
  }
}
